body {
  width: 100%;
  height: 100%;
  font-family: 'melona';
  /* background: #005AA7; */
  background-color: #ffffff;
  /* fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7); */
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #FFFDE4, #005AA7); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}   
#pageHeader,
#footer,
#mainArticle,
.navModal,
#Article2 {
  border-bottom: 1px solid #acb0ac;
  font-family: 'melona';
}

.whole-layout{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 8fr;
  align-items: center;
  height: 100vh;
}

#pageHeader {
  grid-row: 1/2;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000C3E;
}

#mainArticle {
  grid-row: 2/3;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Article2 {
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  height: 100%;
}

.btnNaviBar{
  left: -5.8%;
  width: 7.5%;
  max-width: 200px;
  min-width: 100px;
  padding: 0.5% 0 0.5% 5.8%;
  margin: 0;
  top: 5%;
  position: absolute;
  border: 0;
  background-color: #000c3e;
  color: white;
  font-family: 'fira';
  border-radius: 0% 5% 5% 0%;
  text-align: center;
  font-weight: bold;
  line-height: 130%;
  opacity: 0.8;
  z-index: 5;
}

.btnNaviBar:hover{
  background-color: #f26322;
  box-shadow: 2px 0px 4px white;
  left: -5.4%;
  padding: 0.5% 0 0.5% 5.4%;
  opacity: 1;
}

.navModal{
  position: absolute;
  z-index: 4;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;

  background-color: rgba(0, 0, 0, 0.6);
  z-index: 3;
}
.navModal.show{
  display: block;
}

.main-nav {
  grid-column: 1/2;
  grid-row: 1/5;
  height: 100%;
  position: absolute;
  background-color: #000c3e;
  box-sizing: border-box;
  width: 17%;
  min-width: 300px;
  max-width: 1000px;
  box-shadow: 0px 2px 6px black;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  overflow-x: hidden;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-nav::-webkit-scrollbar {
  display: none;
}

.divRecentSeed{
  position: relative;
  background-color: #000c3e;
  width: 100%;
  height: 7.5%;
  padding: 2% 2.5% 2.5% 2.5%;
}

.divRecentSeedIn{
  position: absolute;
  background-color: white;
  width: 95%;
  height: 75%;
  border-radius: 10px;
}

.btnRecentSeed{
  position: absolute;
  width: 80%;
  height: 100%;
  left: 15%;
  background-color: white;
  text-align: left;
  border: 0;
  border-radius: 10px;
  background-color: transparent;
  z-index: 2;
}

.divSearch{
  width: 94%;
  background-color: white;
  margin: 3%;
  border: 1px solid #000c3e;
}

.btnSearch{
  margin: 1% 0;
  margin-left: -4%;
  margin-bottom: 2%;
  padding: 0 0;
  width: 15%;
  background-color: transparent;
  border: none;
  border-radius: 6px;
}

.btnSearch:hover{
  background-color: #acb0ac;
}

.imgSearch{
  width: 100%;
}

#searchBox{
  width: 85%;
  border: 0;
  outline: none;
  padding: 5%;
}

.imgToggle{
  position: absolute;
  width: 10%;
  height: 35%;
  top: 35%;
  left: -10%;
}

.imgDown{
  position: absolute;
  width: 10%;
  height: 35%;
  top: 35%;
  left: -10%;
}

.divRecentSeedOpen{
  margin: 0 2% 0% 2%;
  display: none;
  padding: 0 5%;
  width: auto;
  border-radius: 6px;
  background-color: white;
}

.divRencentContent a{
  color: black;
  text-decoration: none;
}

.user-info {
  width: 103%;
  height: 18%;
  display: flex;
  align-items: end;
  background-color: #f26322;
  box-shadow: 0px 2px 6px black;
  overflow: hidden;
}

.user-infoStat{
  height: 85%;
  background-color: #fa7f41;
  border-radius: 4px;
  align-items: center;
  margin-bottom: 5%;
}

.user-infoImg{
  width: 35%;
  height: 95%;
  margin: 1%;
  border: 1px solid #000c3e;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  display: flex;
  align-items: center;
}

.headline-info{
  background-color: white;
  margin-top: -4%;
}


.add-title {
  padding: 3% 0;
  width: 100%;
  border: 0;
  background-color: #f26322;
}

.second-toggle {
  position: relative;

  left: 40px;

}

.third-toggle {
  position: relative;

  left: 40px;

}


.add-title {
  padding: 3% 0;
  width: 100%;
  border: 0;
  background-color: #f26322;
}

#Article2::-webkit-scrollbar {
  display: none;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 26px;
  border-radius: 13px;
  background-clip: padding-box;
  background-color: #000C3E;
  border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
  background-color: #000C3E;
}

@font-face {
  font-family: 'melona';
  src: url('./fonts/BinggraeMelona-Bold.ttf') format('truetype');
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.btn-hover {
  width: 140px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  margin-right: 30px;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  padding: 10px 0px 10px 0px;
  border-radius: 50px;
  font-family: 'melona';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.btn-hover.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color-8 {
  background-image: linear-gradient(to right, #eda186, #F7591D, #606e7d, #000C3E);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover.color-11 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

.downarrow {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.downarrow:hover {
  border: none;
  opacity: 0.6;
}

.downarrow:active {
  border: none;
}

.downarrow:focus {
  border: none;
  outline: none;
}

.details-card {
  background: #000C3E;
}

.card {
  background-color: #000C3E;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  border-radius: 4px;
  margin-top: 10%;
  border: 4px;
  margin-left: -2%;
  margin-right: -2%;
}

.card-body {
  background-color: #000C3E;
  border-radius: 0px 0px 4px 4px;
}

.row .card:last-child {
  margin-bottom: 5%;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
  text-align: center;
  border-radius: 4px 4px 0px 0px;
}

/*카드 달성률*/
.card span {
  position: absolute;
  top: 25px;
  left: 35px;
  background: #000C3E;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
}

.card span h4 {
  font-size: 12px;
  margin: 0;
  padding: 10px 5px;
  line-height: 0;
}

/* 카드 제목: h3, 내용: p*/
.card-text h3 {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-text p {
  color: #747373;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0;
}

.card-text a:hover {
  text-decoration: none;
}

.btn-card {
  background-color: #000C3E;
  color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
  padding: .84rem 2.14rem;
  font-size: .81rem;

  margin: 0;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}

.btn-card:hover {
  background-color: #F7591D;
}

a.btn-card {
  text-decoration: none;
  color: #fff;
}

.writebox {
  text-align: center;
  position: flex;
}

.btnWrite {
  text-align: center;
  font-size: 50px;
  position: fixed;
  background-color: #C6DEFA;
  color: white;
  top: 80%;
  left: 90%;
  width: 70px;
  height: 70px;
  line-height: 45px;
  border-radius: 90px;
  border: none;
  outline: none;
  box-shadow: 3px 3px 3px black;
  transition-duration: 0.3s;
  z-index: 10;
}

.btnWrite:hover {
  background-color: #000C3E;
}

.btnWrite:active {
  background-color: #F7591D;
  box-shadow: none;
  margin-top: 5px;
  margin-left: 5px;
}

.btnWrite:focus {
  border: none;
  outline: none;
}


