body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: './fonts/Binggrae', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

.btn {
    padding: 1px;
}

@keyframes slideIn {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        left: 40%;
    }

    100% {
        opacity: 1;
        left: 50%;
    }
}

/* 전체 레이아웃 */
.container-fluid.main-page {
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 2.5fr 1fr;
    gap: 8px;
    align-items: center;
    background-color: antiquewhite;

}

/* 메인 네비게이션 */

/* 슬라이드 애니메이션 */
.main-nav.slide-in {
    grid-template-columns: 1.5fr auto;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    visibility: visible;
    transition: all 0.7s ease-in-out;
}

.main-nav.slide-in.active {
    left: 0;
}

.nav-btn {
    position: fixed;
}

.main-nav {
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
    position: relative;
    background-color: aliceblue;
    box-sizing: border-box;
    visibility: hidden;
    max-width: 17%;
}

.main-nav .swan-logo {
    text-align: center;
}

.main-nav img:nth-child(2) {
    float: left;
}

.main-nav .user-info {
    display: flex;
    align-items: end;
    background-color: cadetblue;
    color: white;
}

.main-nav .bookmark {
    position: relative;
    background-color: aquamarine;
    padding: 10px;
}

.main-nav .headline-info {
    position: relative;
    background-color: beige;
    padding: 10px;
}

.second-toggle {
    position: relative;

    left: 40px;

}

.third-toggle {
    position: relative;

    left: 40px;

}

.add-title {
    width: 100%;
    margin-bottom: 50px;
}

/* 달성률과 캘린더 레아아웃 */
.headline {
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: brown;
    box-sizing: border-box;
    display: block;
    padding: 20px;
    width: 100%;
    justify-content: flex-end;
    transition: all 0.6s ease-in-out;
}

.main-nav.slide-in.active+.headline {
    width: 83%;
    margin-left: 17%;
}

.headline .recent-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.headline .recent-text {
    background-color: blanchedalmond;
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.headline .recent-img {
    background-color: cadetblue;
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.recent-text .mycal {
    width: 100%;
    height: 100%;
}

/* 모든 이미지 레이아웃 */
.images-btn {
    position: absolute;
    top: -27%;
    transform: rotate(-90deg);
}

.all-images {
    display: flex;
    position: relative;
    height: 100%;
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: coral;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    transition: all 0.6s ease-in-out;
    z-index: 1;
}

.main-nav.slide-in.active~.all-images {
    width: 83%;
    margin-left: 17%;
}

.all-images img {
    border: 2px solid black;
    border-radius: 1px;
}

#images-modal {
    margin-top: 200px;
    animation-duration: .5s;
    animation-fill-mode: both;
}

#images-modal.slide-in {
    animation-name: slideIn;
}

#images-modal.slide-out {
    animation-name: slideOut;
}

.move {
    animation: fadeIn .1s  .5s forwards;
}
.all-images-full-screen{
    height: 100vh;
}