body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: './fonts/Binggrae', sans-serif;
}

a {
    text-decoration: none;
    color: black;
    padding-left: 20px;
}

.btn {
    padding: 1px;
}

@keyframes slideIn {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        left: 40%;
    }

    100% {
        opacity: 1;
        left: 50%;
    }
}

/* 전체 레이아웃 */
.container-fluid.main-page {
    padding: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 0.2fr 1.8fr;
    grid-template-rows: 2.5fr 1fr;
    gap: 8px;
    align-items: center;
    background-color: antiquewhite;

}

/* 메인 네비게이션 */
.btnNaviBar{
    left: -5.8%;
    width: 7.5%;
    padding: 0.5% 0 0.5% 5.8%;
    margin: 0;
    top: 5%;
    position: absolute;
    border: 0;
    background-color: #000c3e;
    color: white;
    font-family: 'fira';
    border-radius: 0% 5% 5% 0%;
    text-align: center;
    font-weight: bold;
    line-height: 130%;
    opacity: 0.8;
    z-index: 5;
}

.btnNaviBar:hover{
    background-color: #f26322;
    box-shadow: 2px 0px 4px white;
    left: -5.4%;
    padding: 0.5% 0 0.5% 5.4%;
    opacity: 1;
}

.navModal{
    position: absolute;
    z-index: 4;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    display: none;

    background-color: rgba(0, 0, 0, 0.4);
    z-index: 3;
}
.navModal.show{
    display: block;
}

.main-nav {
    grid-column: 1/2;
    grid-row: 1/5;
    height: 100%;
    position: absolute;
    background-color: aliceblue;
    box-sizing: border-box;
    max-width: 17%;
}

.divRecentSeed{
    position: relative;
    background-color: #000c3e;
    width: 100%;
    height: 7.5%;
    padding: 2%;
}

.divRecentSeedIn{
    position: absolute;
    background-color: white;
    width: 95%;
    margin: 0;
    height: 80%;
    border-radius: 10px;
}

.btnRecentSeed{
    position: absolute;
    width: 80%;
    height: 100%;
    left: 15%;
    background-color: white;
    text-align: left;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
}

.btnSearch{
    position: absolute;
    top: 10%;
    left: 80%;
    width: 18%;
    height: 80%;
    border: 0;
    border-radius: 10px;
    background-color: transparent;
}

.btnSearch:hover{
    background-color: #acb0ac;
}

.imgSearch{
    width: 100%;
    height: 80%;
}

.imgDown{
    position: absolute;
    width: 10%;
    height: 35%;
    top: 35%;
    left: -10%;
}

.divRecentSeedOpen{
    padding: 0 5%;
    width: 100%;
}

.divRencentContent a{
    color: black;
    text-decoration: none;
}

.divRecentSeedOpen{
    display: none;
}

.main-nav img:nth-child(2) {
    float: left;
}

.main-nav .user-info {
    display: flex;
    align-items: end;
    background-color: cadetblue;
    color: white;
}

.main-nav .bookmark {
    position: relative;
    background-color: aquamarine;
    padding: 10px;
}

.main-nav .headline-info {
    position: relative;
    background-color: beige;
    padding: 10px;
}

.second-toggle {
    position: relative;

    left: 40px;

}

.third-toggle {
    position: relative;

    left: 40px;

}

.add-title {
    width: 100%;
    margin-bottom: 50px;
}

/* 달성률과 캘린더 레아아웃 */
.headline {
    height: 100%;
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: brown;
    box-sizing: border-box;
    display: block;
    padding: 20px;
    width: 100%;
    justify-content: flex-end;
    transition: all 0.6s ease-in-out;
}

.main-nav.slide-in.active+.headline {
    width: 83%;
    margin-left: 17%;
}

.headline .recent-item {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

.headline .recent-text {
    background-color: blanchedalmond;
    position: relative;
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.headline .recent-img {
    background-color: cadetblue;
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.recent-text .mycal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* 모든 이미지 레이아웃 */
.images-btn {
    position: absolute;
    top: -27%;
    transform: rotate(-90deg);
}

.all-images {
    display: flex;
    position: relative;
    height: 100%;
    grid-column: 1/3;
    grid-row: 4/5;
    background-color: coral;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    transition: all 0.6s ease-in-out;
    z-index: 1;
}

.main-nav.slide-in.active~.all-images {
    width: 83%;
    margin-left: 17%;
}

.all-images img {
    border: 2px solid black;
    border-radius: 1px;
}

#images-modal {
    margin-top: 200px;
    animation-duration: .5s;
    animation-fill-mode: both;
}

#images-modal.slide-in {
    animation-name: slideIn;
}

#images-modal.slide-out {
    animation-name: slideOut;
}
.all-images-full-screen{
    height: 100vh;
}