body{
    width: 100%;
    height: 100%;
    font-family: 'melona';
    background-color: white;
}

@font-face {
    font-family: 'melona';
    src: url('./fonts/BinggraeMelona-Bold.ttf') format('truetype');
}

@keyframes slideIn {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-200px);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        left: 40%;
    }

    100% {
        opacity: 1;
        left: 50%;
    }
}

/* 전체 레이아웃 */
.whole-layout {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr 1fr;
    align-items: center;
    height: 100vh;
}

/* 로고, 로그인버튼 */
#pageHeader {
    grid-row: 1/2;
    text-align: left;
    height: 10%;
    display: flex;
    align-items: center;
    color: #000C3E;
    width: 70%;
    margin: 0 auto;
    border-bottom: 1px solid #acb0ac;
    font-family: 'melona' !important;
    /* margin-top: 10%; */
}

.swan-logo {
    font-size: 2rem;
    margin: 0 auto;
    margin-left: 2%;
}

/* 로그아웃 버튼 감싸는 div */
.logout-btn {
    width: 100%;
    text-align: right;
}

/* 로그아웃 버튼 */
.btnLogout {
    background-color: transparent;
    border: 0px;
    color: #858585;
}

/* 달성률과 캘린더 레아아웃 */
#tabs {
    grid-row: 2/3;
    background-color: #fff;
    display: flex;
    height: 90%;
    width: 100%;
    padding-left: 15%; /* 좌측 여백 설정 */
    padding-right: 15%; /* 우측 여백 설정 */
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

#nav-tabContent {
    grid-row: 3/4;
    display: block;
    justify-content: center;
    overflow-y: auto;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    padding-left: 15%; /* 좌측 여백 설정 */
    padding-right: 15%; /* 우측 여백 설정 */
}

.main-nav::-webkit-scrollbar {
    display: none;
}

.main-nav.slide-in.active+.headline {
    width: 83%;
    margin-left: 17%;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 100px;
    background-clip: padding-box;
    background-color: #fff;
    border: 2px solid transparent;
    color:#000C3E;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
    background-color: #000C3E;
}

#row-calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

#row-chart {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.recent-text::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.headline .recent-img {
    background-color: #fff;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000c3e;
}

.recent-text .mycal {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.main-nav.slide-in.active~.all-images {
    width: 83%;
    margin-left: 17%;
}

.all-images img {
    border: 2px solid black;
    border-radius: 1px;
}

#images-modal {
    margin-top: 200px;
    animation-duration: .5s;
    animation-fill-mode: both;
}

#images-modal.slide-in {
    animation-name: slideIn;
}

#images-modal.slide-out {
    animation-name: slideOut;
}
.downpage{
    height: 100vh;
    display: block;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    padding-left: 15%; /* 좌측 여백 설정 */
    padding-right: 15%; /* 우측 여백 설정 */
    margin: 0 auto;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    border-radius: 4px;
    margin-top: 10%;
    margin-left: -2%;
    margin-right: -2%;
    cursor: pointer;
  }
  
  .card-body {
    background-color: #f8f8f8;
    border-radius: 0px 0px 4px 4px;
    color:#000C3E;
  }
    
  .card img {
    width: 100%;
    height: auto;
    display: block;
    text-align: center;
    border-radius: 4px 4px 4px 4px;
    /* firstpage에는 cardbody 없어서 이미지에 radius 4방향추가 */
  }
  
  /*카드 달성률*/
  .card span {
    position: absolute;
    top: 25px;
    left: 35px;
    background: #000C3E;
    padding: 6px;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
  }
  
  .card span h4 {
    font-size: 12px;
    margin: 0;
    padding: 10px 5px;
    line-height: 0;
  }
  
  /* 카드 제목: h3, 내용: p*/
  .card-text h3 {
    color: #000C3E;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.3em;
    margin-top: 0;
    margin-bottom: 5px;
    padding: 0;
  }
  
  .card-text p {
    color: #747373;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    margin: 0px;
    margin-bottom: 20px;
    padding: 0;
  }
  
  .card-text a:hover {
    text-decoration: none;
  }