.writeSeed {
    /*전체 모딜창*/
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    display: none;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.writeSeed.show {
    display: block;
}

.writeSeed_body {
    /*모딜창 내부*/
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;

    width: 40%;
    height: 90%;

    padding: 40px;

    text-align: center;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);
}

.writeSeed_body * {
    /*모딜창 내부 스크롤*/
    display: block;
    text-align: left;
    overflow: scroll;
}

.writeSeed_body input[type=text] {
    /*input box*/
    width: 100%;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px rgba(0,0,0,0.2) solid;
    margin-bottom: 2%;
}

.writeSeed_body_img {
    /*업로드된 이미지 프리뷰*/
    width: 100%;
    height: 40vh;
}

.writeSeed_body_img img {
    display: inline-block;
    width: 30%;
}

.writeSeed_body_imgPlus{
    width: 30%;
    display: inline-block;
    border: 0;
    background-color: transparent;
    overflow: hidden;
    
}

.writeSeed_body_img img{
    object-fit: cover;
    margin-bottom: 1%;
    min-height: 200px;
    max-height: 200px;
}

.writeSeed_body_imgPlus > img{
    padding: 30%;
    width: 100%;
}

.writeSeed_body_imgPlus:hover{
    background-color: rgba(0,0,0,0.2);
}

.writeSeed_submit{
    width: 100%;
    color: white;
    background-color: #F7591D;
    overflow: hidden;
    text-align: center;
    border: 0;
    border-radius: 6px;
    font-size: x-large;
    padding: 4px;
}

.writeSeed_submit:hover{
    background-color: #ff8344;
}